#/bootstrap/compiled.php
#/vendor
/local/app/config/production-demo
/local/composer.phar
/local/composer.lock
/local/.env.*.php
/local/.env.php
/widgets/twitter/config/local
/widgets/youtube/config/local
/widgets/facebook/config/local
/widgets/instagram/config/local
/widgets/twitter/config/production
/widgets/youtube/config/production
/widgets/facebook/config/production
/widgets/instagram/config/production
.DS_Store
Thumbs.db
/local/node_modules
_notes
.sass-cache
npm-debug.log
.idea
/build

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

